@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background-color: none;
}

.wrapper {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  min-height: 790px;
  background-image: url(../../image/page1/main_picture.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  align-items: center;
}

.menu .menu__list {
  display: flex;
  font-weight: 500;
  -moz-column-gap: 20px;
       column-gap: 20px;
  color: #ffffff;
}
.menu .menu__link_active {
  color: #ffc700;
}

.header__wrapper-info {
  display: flex;
  justify-content: space-between;
  padding-top: 150px;
}

.slogan {
  display: flex;
  flex-direction: column;
}
.slogan .slogan__travel {
  font-weight: 700;
  font-size: 4.5em;
  line-height: 60px;
  color: #ffffff;
}
.slogan .slogan__together {
  font-family: "Pattaya", sans-serif;
  font-weight: 400;
  font-size: 3em;
  line-height: 20px;
  color: #ffc700;
  align-self: flex-end;
}
.slogan .slogan__company-name {
  font-weight: 900;
  font-size: 6em;
  line-height: 70px;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ffffff;
  font-family: sans-serif;
}
.slogan .slogan__header-btn {
  margin-top: 60px;
}

.button {
  background: linear-gradient(92.71deg, #0499dd 0%, #17c1bc 100%);
  border-radius: 60px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ffffff;
  padding: 16px;
  width: 17em;
}

.header__app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 13px;
}

.main {
  background-color: #fbfbfb;
}

.content-photo {
  display: flex;
  justify-content: flex-end;
  transform: translateY(-125px);
}
.content-photo .content-photo__inner {
  position: relative;
}
.content-photo .content-photo__play-icon {
  background-image: url(../../image/page1/content-photo_play.png);
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1;
  display: block;
  width: 80px;
  height: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
}

.excursions__wrapper {
  padding-top: 40px;
}

.excursions .excursions__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.excursions .excursions__title .excursions__popular {
  font-weight: 700;
  font-size: 24px;
  color: #0499dd;
}
.excursions .excursions__title .excursions__more {
  font-size: 12px;
  text-decoration-line: underline;
  color: #282828;
}

.excursions__slider {
  padding-top: 90px;
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.slider {
  min-height: 500px;
  max-width: 360px;
  padding: 0 16px 40px 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.slider .slider__title {
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
}
.slider .slider__name {
  font-weight: 700;
  line-height: 17px;
  color: #ffc700;
}
.slider .slider__hours-price {
  padding: 10px 0 10px 0;
  color: #ffffff;
  font-weight: 500;
  font-size: 12px;
}
.slider .slider__hours {
  background: url(../../image/page1/icon_clock.svg) no-repeat;
  background-position: center left;
  padding-left: 20px;
}
.slider .slider__price {
  background: url(../../image/page1/icon_coins.svg) no-repeat;
  background-position: center left;
  padding-left: 20px;
}
.slider .slider__info {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
}
.slider .slider__btn {
  width: 13em;
  font-size: 12px;
  padding: 12px;
  margin-top: 15px;
}

.excursions__bus-tour {
  background-image: url(../../image/page1/slider_1.png);
}

.excursions__equestrian-tour {
  background-image: url(../../image/page1/slider_2.png);
}

.excursions__quad-tour {
  background-image: url(../../image/page1/slider_3.png);
}

.about {
  padding-top: 150px;
  padding-bottom: 150px;
}
.about .about__inner {
  max-width: 1440px;
  margin: auto;
  display: flex;
  align-items: center;
  min-height: 750px;
  background-image: url(../../image/page1/deco_picture2.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  border-radius: 0px 10px 10px 0px;
}
.about .about__info {
  max-width: 500px;
  padding: 40px 60px 60px 60px;
  background-color: #ededed;
  border-radius: 10px;
  margin-left: auto;
  margin-right: 11%;
  background-size: contain;
}
.about .about__title {
  font-weight: 700;
  font-size: 24px;
  color: #0499dd;
}
.about .about__text {
  font-weight: 500;
  font-size: 14px;
  color: #282828;
}

.footer {
  display: flex;
  align-items: center;
  background-color: #ededed;
  min-height: 173px;
  font-weight: 500;
  color: #282828;
}
.footer .footer__wrapper {
  display: grid;
  grid-template-columns: 80px 1fr 13em;
  grid-template-rows: 55px 55px;
  grid-template-areas: "footer-logo footer-menu-contacts footer-mail" "footer-logo footer-menu-contacts footer-app";
  align-items: center;
}
.footer .footer__logo {
  grid-area: footer-logo;
}
.footer .footer__menu-contacts {
  grid-area: footer-menu-contacts;
  display: flex;
  justify-content: space-between;
}
.footer .footer__menu {
  padding-left: 12%;
}
.footer .footer__menu-list {
  display: grid;
  row-gap: 8px;
}
.footer .footer__contacts {
  display: grid;
  padding-right: 12%;
  row-gap: 4px;
}

.footer__contacts-whatsapp {
  background: url(../../image/header_footer/icon_whatsapp_footer.svg) no-repeat;
  background-position: center left;
  padding: 2px 0 2px 30px;
}

.footer__contacts-telegram {
  background: url(../../image/header_footer/icon_telegram_footer.svg) no-repeat;
  background-position: center left;
  padding: 2px 0 2px 30px;
}

.footer__mail {
  grid-area: footer-mail;
}

.footer__mail-ico {
  background: url(../../image/header_footer/icon_mail_footer.svg) no-repeat;
  padding-left: 30px;
  background-position: center left;
}

.footer__app {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-area: footer-app;
  max-width: 112px;
  align-self: baseline;
}

@media screen and (min-width: 1024px) {
  .menu-mobile {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .menu {
    display: none;
  }
}
@media screen and (max-width: 980px) {
  .excursions__quad-tour {
    display: none;
  }
  .excursions__slider {
    display: flex;
    justify-content: center;
  }
  .content-photo {
    transform: translateY(-100px);
  }
  .content-photo__inner {
    width: 20em;
  }
}
@media screen and (max-width: 830px) {
  .slogan .slogan__travel {
    font-size: 3.5em;
  }
  .slogan .slogan__together {
    font-size: 2.5em;
  }
  .slogan .slogan__company-name {
    font-size: 5em;
  }
  .footer {
    font-size: 12px;
  }
}
@media screen and (max-width: 500px) {
  .footer {
    display: block;
  }
  .footer .footer__wrapper {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 40px;
    padding-bottom: 50px;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 1fr 1fr 20px;
    grid-template-areas: "footer-logo " "footer-app" "footer-menu-contacts" "footer-mail";
  }
  .footer .footer__logo {
    margin: auto;
  }
  .footer .footer__menu-contacts {
    padding-top: 20px;
  }
  .footer .footer__menu {
    padding-left: 0;
  }
  .footer .footer__contacts {
    margin-left: auto;
    padding: 0;
  }
  .footer .footer__mail {
    margin-left: auto;
    padding-right: 28px;
  }
  .footer .footer__app {
    margin: auto;
    align-self: center;
  }
}
@media screen and (max-width: 680px) {
  .header__wrapper-info {
    display: block;
  }
  .header__app {
    align-items: flex-end;
  }
}
@media screen and (max-width: 620px) {
  .excursions__equestrian-tour {
    display: none;
  }
  .excursions__more {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .slogan .slogan__travel {
    font-size: 2.5em;
  }
  .slogan .slogan__together {
    font-size: 2em;
  }
  .slogan .slogan__company-name {
    font-size: 4.3em;
  }
}/*# sourceMappingURL=style.css.map */